.thanks{
	&__container{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__title{
		text-align: center;
		color: #8E0124;
		font-size: 7rem;
		line-height: 8.4rem;
		margin-bottom: 6.2rem;
		font-family: "Buran-USSR";
	}
	&__subtitle{
		display: flex;
		justify-content: space-around;
		align-items: center;
		font-size: 2rem;
		font-weight: 500;
		line-height: 2.4rem;
		margin-bottom: 5.5rem;
		&-watch{
			position: relative;
			margin-right: 2.5rem;
			width: 4rem;
			height: 4rem;
			border: #000 0.45rem solid;
			border-radius: 50%;
			&_hour{
				position: absolute;
				width: 0.4rem;
				height: 1.2rem;
				left: 1.4rem;
				top: 1.5rem;
				background: #000;
				border-radius: 1rem;
				animation: now 6s infinite linear;
				transform-origin: 50% 10%;

			}
			&_minutes{
				position: absolute;
				width: 0.4rem;
				height: 1.4rem;
				left: 1.4rem;
    			top: 1.5rem;
				background: #000;
				border-radius: 1rem;
				animation: now 2.5s infinite linear;
				transform-origin: 50% 10%;
			}
		}
	}
	&__btn{
		display: flex;
		justify-content: flex-end;
		&-main{
			border: #000 0.4rem solid;
			font-size: 2rem;
			line-height: 2.4rem;
			padding: 0.8rem 2rem;
			font-weight: 500;
			&:hover{
				color: #8E0124;
				border-color: #8E0124;
				transition: 0.5s;
			}
		}
	}
}
@keyframes now {
	100%{
		transform: rotate(360deg);
	}
}