.attempts{
	&__section{
		padding-top: 8rem;
	}
	&__title{
		font-family: "Buran-USSR";
		font-size: 5rem;
		line-height: 7.5rem;
		font-weight: 500;
		padding-bottom: 7rem;
	}
	&__block{
		display: flex;
		flex-direction: column;
		gap: 1.6rem;
		&-item{
			background: #F1F1F1;
			border: .1rem #F1F1F1 solid;
			padding: 1.431rem 5rem;
			display: flex;
			&_title{
				margin-right: 34.5rem;
				font-size: 2rem;
				line-height: 282%;
				font-weight: 500;
			}
			&_points{
				font-size: 2rem;
				font-weight: 500;
				line-height: 282%;
				color: #8E0124;
				margin-right: 7.3rem;
			}
			&_date{
				font-size: 2rem;
				font-weight: 500;
				line-height: 282%;
				color: #4E4E4E;
			}
		}
	}
}