.test-main{
	&__section{
		padding-top: 21.5rem;
	}
	&__container{
		display: flex;
		flex-wrap: nowrap;
    	max-height: 100%;
	}
	&__img{
		width: 43rem;
		background: #D9D9D9;
	}
	&__test{
		margin-left: 6.5rem;
		display: flex;
		flex-direction: column;
		gap: 5rem;
		&-title{
			font-family: "Buran-USSR";
			font-size: 5rem;
			line-height: 7.5rem;
			font-weight: 400;
		}
		&-questions{
			border: #EEEEEE 0.1rem solid;
			background: #EEEEEE;
			display: flex;
			font-size: 2.8rem;
			align-items: center;
			gap: 4rem;
			height: 5.8rem;
			img{
				max-height: 100%;
				max-width: fit-content;
			}
		}
		&-description{
			font-size: 2.5rem;
			line-height: 3.7rem;
		}
	}
}