.header {
    padding: 0 2rem;
    position: fixed;
    top: 0;
    z-index: 99999;
    width: 100%;
    height: 6.5rem;
    background: #fff;
    box-shadow: 0px 0.4rem 0.1rem rgba(0, 0, 0, 0.05);
    font-size: 1.74rem;
    font-family: "TTNormsPro", serif;
    font-weight: 500;
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 8.9rem;
    }
    &__logo {
        font-size: 2.125rem;
        line-height: 92.5%;
        font-weight: 800;
        color: #8E0124;
        letter-spacing: -0.03em;
    }
    &__centernav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    &__search {
        &-form {
            height: 3.125rem;
            width: 23.44rem;
            position: relative;
            border-radius: 6px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &-input {
            width: 100%;
            height: 3.125rem;
            padding-left: 1.25rem;
            padding-right: 1.5rem;
            outline: none;
            background: transparent;
            font-weight: 500;
            font-size: 1.4rem;
            line-height: 111%;
            border: .15626rem solid #000000;
            border-radius: 0.31252rem;
        }
        &-button {
            height: 2.88rem;
            width: 3.125rem;
            position: absolute;
            top: 0.15636rem;
            right: 0.15636rem;
            cursor: pointer;
            border: none;
            outline: none;
            background: white;
        }
    }
    .nav {
        &.desk{
            .nav__list-item{
                &:hover{
                    background: #D9D9D9;
                    .nav__list{
                        padding: 2.4rem 0;
                        max-height: 90rem;
                        justify-content: flex-start;
                        gap: 0;
                        &-item{
                            &:hover{
                                background: #D9D9D9;
                            }
                        }
                    }
                }
            }
        }
        &__list {
            display: flex;
            gap: 1rem;
            
            &-item {
                position: relative;
                display: flex;
                justify-content: center;
                height: 6.5rem;
                &:hover{
                    background: #D9D9D9;
                }
                &_link {
                    line-height: 6.5rem;
                    padding: 0 2.05rem;
                    width: 100%;
                    cursor: pointer;
                }
                .nav__list{
                    z-index: 9999999;
                    position: absolute;
                    overflow: hidden;
                    max-height: 0rem;
                    transition: 0.3s;
                    top: 6.5rem;
                    right: 0;
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    min-width: 21.7rem;
                    background: #FFFFFF;
                    box-shadow: 0px 0.4rem 3.4rem rgba(0, 0, 0, 0.25);
                }
                
            }
        }
        &.mob{
            // display: none;
            position: absolute;
            top: 0;
            right: 0;
            width: 35rem;
            background: #fff;
            z-index: 10000;
            max-height: 0px;
            overflow: hidden;
            transition: .3s;
            box-shadow: 0px .4rem .6rem rgba(0, 0, 0, 0.25);
            &.active{
                padding: 5rem 3rem 3.6rem;
            }
            .nav__list{
                flex-direction: column;
                align-items: center;
                max-width: 360px;
                margin: 0 auto;
                &-item{
                    height: auto;
                    flex-direction: column;
                    width: 100%;
                    &_link{
                        text-align: start;
                        font-weight: 400;   
                    }
                    &._quit{
                        display: none;
                        a{
                            color: #818181;
                        }
                    }
                    &.droplist{
                        .login{
                            width: 100%;
                            padding: 0 2rem;
                            transition: .2s;
                            &__form{
                                display: flex;
                                flex-direction: column;
                                gap: 1.98rem;
                                background: white;
                                cursor: default;
                            }
                            &__field{
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                border: 0.0792381rem solid #CFD3D8;
                                border-radius: 0.316952rem;
                                &:focus-within{
                                    border-color: #707C8B;
                                }
                            }
                            &__input{
                                padding: 1.109rem 1.9rem 1.109rem 1.268rem;
                                color: #11253D;
                                width: 100%;
                                font-weight: 400;
                                font-size: 1.10933rem;
                                border: none;
                                border-radius: 0.316952rem;
                                line-height: 143%;
                                position: relative;
                                &:focus{
                                    outline: none;
                                }
                            }
                            &__submit{
                                border: 0.1rem #707C8B solid;
                                border-radius: 0.4rem;
                                background: white;
                                color: #11253D;
                                font-size: 1.3rem;
                                cursor: pointer;
                                &:hover{
                                    transition: .2s;
                                    background: #E6E6E6;
                                }
                            }
                        }
                    }
                    &._lk{
                        display: none;
                    }
                    .nav__list{
                        position: static;
                    }
                    .header__authorization-eye{
                        opacity: 0;
                        transition: .3s;
                    }
                    &.active{
                        background: #D9D9D9;
                        .nav__list{
                            padding: 2.4rem 0;
                            max-height: 90rem;
                            justify-content: flex-start;
                            gap: 0;
                            &-item{
                                &:hover{
                                    background: #D9D9D9;
                                }
                            }
                        }
                        .header__authorization-eye{
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    &__authorization {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .7rem;
        width: 9.5rem;
        height: 6.5rem;
        margin-left: 1.8rem;
        cursor: pointer;
        position: relative;
        &-flex{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.792rem;
            width: 100%;
            height: 100%;
        }
        &-avatar{
            border-radius: 50%;
            background: #AEAEAE;
            width: 3.8rem;
            height: 3.8rem;
            overflow: hidden;
        }
        svg{
            transition: .2s;
        }
        &-eye{
            position: absolute;
            right: 3.868rem;
        }
        .login{
            overflow: hidden;
            max-height: 0rem;
            top: 6.5rem;
            right: 0;
            position: absolute;
            min-width: 30rem;
            transition: .2s;
            box-shadow: 0 0.4rem 3.4rem rgba(0, 0, 0, 0.25);
            &__form{
                display: flex;
                flex-direction: column;
                gap: 1.98rem;
                padding: 3.645rem 3.09rem 3.486rem;
                background: white;
                cursor: default;
            }
            &__field{
                display: flex;
                justify-content: space-between;
                align-items: center;
                border: 0.0792381rem solid #CFD3D8;
                border-radius: 0.316952rem;
                &:focus-within{
                    border-color: #707C8B;
                }
            }
            &__input{
                padding: 1.109rem 1.9rem 1.109rem 1.268rem;
                color: #11253D;
                width: 100%;
                font-weight: 400;
                font-size: 1.10933rem;
                border: none;
                border-radius: 0.316952rem;
                line-height: 143%;
                position: relative;
                &:focus{
                    outline: none;
                }
            }
            &__submit{
                border: 0.1rem #707C8B solid;
                border-radius: 0.4rem;
                background: white;
                color: #11253D;
                font-size: 1.3rem;
                cursor: pointer;
                &:hover{
                    transition: .2s;
                    background: #E6E6E6;
                }
            }
        }
        &.authorization{
            background: #E6E6E6;
            .header__autorization{
                &-vector{
                    transform: rotate(180deg);
                }
            }
            .login{
                max-height: 90rem;
            }
        }
        .authorized{
            position: absolute;
            top: 100%;
            right: 0;
            background: white;
            min-width: 30rem;
            transition: .2s;
            box-shadow: 0 0.4rem 3.4rem rgba(0, 0, 0, 0.25);
            gap: 2rem;
            flex-direction: column;
            display: none;
            cursor: default;
            overflow: hidden;
            max-height: 0rem;
            &.active{
                padding: 3.6rem 3.09rem 4rem;
                max-height: 90rem;
            }
            .button{
                border: 0.1rem #707C8B solid;
                border-radius: 0.4rem;
                background: white;
                color: #11253D;
                font-size: 1.3rem;
                cursor: pointer;
                &:hover{
                    transition: .2s;
                    background: #E6E6E6;
                }
            }
        }
        
    }
    
    &-login{
        .authorized{
            display: flex;
        }
        .login{
            display: none;
        }
        .nav{
            &.mob{
                .nav__list{
                    &-item{
                        &._join{
                            display: none;
                        }
                        &._lk{
                            display: block;
                        }
                        &._quit{
                            display: block;
                        }
                    }
                }
            }
        }
    }
    &__burger{
        display: none;
        z-index: 999999999;
        width: 2.5rem;
        height: 2rem;
        position: relative;
        // margin: 50px auto;
        transform: rotate(0deg);
        transition: .5s ease-in-out;
        cursor: pointer;
        span {
            display: block;
            position: absolute;
            height: .3rem;
            width: 100%;
            background: #8E0124;
            // border-radius: 9px;
            opacity: 1;
            left: 0;
            transform: rotate(0deg);
            transition: .25s ease-in-out;
            &:nth-child(1) {
                top: 0;
            }
            &:nth-child(2), &:nth-child(3) {
                top: .624rem;
            }
            &:nth-child(4) {
                top: 1.232rem;
            }
        }
        
        &.open{
            span {
                &:nth-child(1) {
                    top: .624rem;
                    width: 0%;
                    left: 50%;
                }
                &:nth-child(2) {
                    transform: rotate(45deg);
                }
                &:nth-child(3) {
                    transform: rotate(-45deg);
                }
                &:nth-child(4) {
                    top: .624rem;
                    width: 0%;
                    left: 50%;
                }
            }
        }
    }
}