.header {
    position: fixed;
    top: 0;
    z-index: 99999;
    width: 100%;
    height: 6.5rem;
    background: #fff;
    box-shadow: 0px 0.4rem 0.1rem rgba(0, 0, 0, 0.05);
    font-size: 1.74rem;
    font-family: "TTNormsPro", serif;
    font-weight: 500;
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        display: flex;
        align-items: center;
    }
    &__search {
        margin-left: auto;
        &-form {
            height: 3.125rem;
            width: 23.44rem;
            position: relative;
            border-radius: 6px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &-input {
            width: 100%;
            height: 3.125rem;
            padding-left: 1.25rem;
            padding-right: 1.5rem;
            outline: none;
            background: transparent;
            font-weight: 500;
            font-size: 1.4rem;
            line-height: 111%;
            border: .15626rem solid #000000;
            border-radius: 0.31252rem;
        }
        &-button {
            height: 2.88rem;
            width: 3.125rem;
            position: absolute;
            top: 0.15636rem;
            right: 0.15636rem;
            cursor: pointer;
            border: none;
            outline: none;
            background: white;
        }
    }
    .nav {
        &__list {
            display: flex;
            gap: 1rem;
            &-item {
                position: relative;
                display: flex;
                justify-content: center;
                height: 6.5rem;
                &:hover{
                    background: #D9D9D9;
                }
                &_link {
                    line-height: 6.5rem;
                    padding: 0 2.05rem;
                    width: 100%;
                    cursor: pointer;
                }
                .nav__list{
                    position: absolute;
                    overflow: hidden;
                    max-height: 0rem;
                    transition: 0.3s;
                    top: 6.5rem;
                    right: 0;
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    min-width: 21.7rem;
                    background: #FFFFFF;
                    box-shadow: 0px 0.4rem 3.4rem rgba(0, 0, 0, 0.25);
                }
                &.active{
                    background: #D9D9D9;
                    .nav__list{
                        padding: 2.4rem 0;
                        max-height: 90rem;
                        justify-content: flex-start;
                        gap: 0;
                        &-item{
                            &:hover{
                                background: #D9D9D9;
                            }
                        }
                    }
                }
            }
        }
    }
    &__authorization {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .7rem;
        width: 9.5rem;
        height: 6.5rem;
        margin-left: 1.8rem;
        cursor: pointer;
        position: relative;
        &-flex{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.792rem;
            width: 100%;
            height: 100%;
        }
        &-avatar{
            border-radius: 50%;
            background: #AEAEAE;
            width: 3.8rem;
            height: 3.8rem;
            overflow: hidden;
        }
        svg{
            transition: .2s;
        }
        &-eye{
            position: absolute;
            right: 3.868rem;
        }
        .login{
            overflow: hidden;
            max-height: 0rem;
            top: 6.5rem;
            right: 0;
            position: absolute;
            min-width: 30rem;
            transition: .2s;
            box-shadow: 0 0.4rem 3.4rem rgba(0, 0, 0, 0.25);
            &__form{
                display: flex;
                flex-direction: column;
                gap: 1.98rem;
                padding: 3.645rem 3.09rem 3.486rem;
                background: white;
                cursor: default;
            }
            &__field{
                display: flex;
                justify-content: space-between;
                align-items: center;
                border: 0.0792381rem solid #CFD3D8;
                border-radius: 0.316952rem;
                &:focus-within{
                    border-color: #707C8B;
                }
            }
            &__input{
                padding: 1.109rem 1.268rem;
                color: #11253D;
                width: 100%;
                font-weight: 400;
                font-size: 1.10933rem;
                border: none;
                border-radius: 0.316952rem;
                line-height: 143%;
                position: relative;
                &:focus{
                    outline: none;
                }
            }
            &__submit{
                border: 0.1rem #707C8B solid;
                border-radius: 0.4rem;
                background: white;
                color: #11253D;
                &:hover{
                    transition: .2s;
                    background: #E6E6E6;
                }
            }
        }
        &.authorization{
            background: #E6E6E6;
            .header__autorization{
                &-vector{
                    transform: rotate(180deg);
                }
            }
            .login{
                max-height: 90rem;
            }
        }
    }
}