.profile{
	&__section{
		padding-top: 18.5rem;
	}
	&__container{
		padding-bottom: 12rem;
		
	}
	&__results{
		&-title{
			font-family: "Buran-USSR";
			font-size: 5rem;
			line-height: 7.5rem;
			font-weight: 400;
			padding-bottom: 7rem;
		}
	}
	&__statistics{
		&-title{
			position: relative;
			font-size: 2rem;
			font-weight: 600;
			line-height: 5.6rem;
			&::after{
				content: '100 %';
				position: absolute;
				font-size: 9.4rem;
				font-family: "Buran-USSR";
			}
			&::before{
				content: '';
				position: absolute;
				border: 1rem #8E0124 solid;
				transform: rotate(0deg);
				width: 42.4rem;
				height: 42.4rem;
				border-radius: 50%;
			}
		}
	}
	&__attempts{
		&-title{
			font-family: "Buran-USSR";
			font-size: 5rem;
			line-height: 7.5rem;
			font-weight: 500;
			padding-bottom: 7rem;
		}
		&-block{
			&_item{
				background: #F1F1F1;
				border: .1rem #F1F1F1 solid;
				padding: 5rem 30rem 5rem 8rem;
				display: flex;
				margin-bottom: 1.6rem;
				&:last-of-type{
					margin-bottom: 0;
				}
				&-title{
					margin-right: 34.5rem;
					font-size: 2rem;
					line-height: 5.6rem;
					font-weight: 500;
				}
				&-points{
					font-size: 2rem;
					font-weight: 500;
					line-height: 5.6rem;
					color: #8E0124;
					margin-right: 7.3rem;
				}
				&-date{
					font-size: 2rem;
					font-weight: 500;
					line-height: 5.6rem;
					color: #4E4E4E;
				}
			}
		}
	}
}