.footer{
	padding: 2rem 2rem;
	&__container{
		display: flex;
		justify-content: space-between;
	}
	&__info{
		font-size: 1.6rem;
		line-height: 1.8rem;
		color: #757575;
		&-project{
			margin-top: 3rem;
		}
		div{
			margin-bottom: 1.2rem;
		}
	}
	&__contacts{
		width: 13rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		&-vk{
			&:hover{
				path{
					fill: #577ea8;
				}
			}
		}
		&-tg{
			&:hover{
				path{
					fill: #4099d1;
				}
			}
		}
	}
}